Import required modules

In [1]:

import pandas as pd

Create variable to store path to

In [2]:
path_to_excel_file = 'datasets\Athletes.xlsx'

Read excel file with pandas:

In [3]:
df = pd.read_excel(path_to_excel_file)

Show first 5 Athletes:

In [4]:
df.head(5)

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball