In [1]:
# import required libraries

import pandas as pd

In [2]:
path_to_excel_file = '/home/arrow/2021-Olympics-Data-Analysis/EntriesGender.xlsx'

In [3]:
df = pd.read_excel(path_to_excel_file)

In [4]:
df.head(5)

            Discipline  Female  Male  Total
0       3x3 Basketball      32    32     64
1              Archery      64    64    128
2  Artistic Gymnastics      98    98    196
3    Artistic Swimming     105     0    105
4            Athletics     969  1072   2041